<h4 class="date-header">{title}</h4>

<p class="message">Try to reload this page after starting each *exclusive* flow execution.</p>

<h1>A.&nbsp;Registration Applications</h1>
<ol>
  <li><a href="{__appRootPath}/register-with-non-exclusive-mode.php" target="_blank">A registration application. <strong>*non-exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/register-with-exclusive-mode.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)">A registration application. <strong>*exclusive*</strong></a><a href="{__appRootPath}/register-with-exclusive-mode.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)">A registration application. <strong>*exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/register-with-exclusive-mode-and-ahah.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)">A registration application with <strong>AHAH</strong>. <strong>*exclusive*</strong></a><a href="{__appRootPath}/register-with-exclusive-mode-and-ahah.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)">A registration application with <strong>AHAH</strong>. <strong>*exclusive*</strong></a></li>
</ol>

<h1>B.&nbsp;Authentication</h1>
<ol>
  <li><a href="{__appRootPath}/authenticate.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)">An authentication service. <strong>*exclusive*</strong></a> <a href="{__appRootPath}/authenticate.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)">An authentication service. <strong>*exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/protected-resource.php" target="_blank">A resource which is protected by the above authentication service. <strong>*non-exclusive*</strong></a></li>
</ol>
